[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
asn1crypto = "*"
cffi = "*"
cryptography = "*"
dbus-python = "*"
distlib = "*"
distro-info = "*"
django = "*"
django-crispy-forms = "*"
django-encrypted-model-fields = "*"
django-environ = "*"
environ = "*"
filelock = "*"
pillow = "*"
platformdirs = "*"
psycopg2-binary = "*"
pycparser = "*"
pycurl = "*"
pygobject = "*"
python-apt = "*"
python-dateutil = "*"
reportlab = "*"
six = "*"
sqlparse = "*"
tabulate = "*"
unattended-upgrades = "*"
virtualenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
