[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
asgiref= "*"
asn1crypto= "*"
cffi= "*"
cryptography= "*"
dbus-python= "*"
distlib= "*"
distro-info= "*"
Django= "*"
django-crispy-forms= "*"
django-encrypted-model-fields= "*"
django-environ= "*"
environ= "*"
filelock== "*"
Pillow== "*"
platformdirs== "*"
psycopg2-binary== "*"
pycparser= "*"
pycurl= "*"
PyGObject= "*"
python-apt= "*"
python-dateutil= "*"
reportlab= "*"
six= "*"
sqlparse= "*"
tabulate= "*"
unattended-upgrades= "*"
virtualenv= "*"


[requires]
python_version = "3.9.2"
