{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{% static 'planning/css/style.css' %}" />
        <link rel="icon"href="{% static 'favicon.ico' %}">
        <title>LyonPalme - Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <br>
        <div class="entrainement">
            <a href="{% url 'create_entrainement' %}"><button class="btn-createEntrainement">Créer un nouvel entraînement</button></a>
            <br>
            <table>
                <tr class="test">
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Mettre à jour</th>
                    <th>Supprimer</th>
                </tr>
                {% for entrainement in entrainements %}
                <tr>
                    <th>{{entrainement.Titre}}</th>
                    <th>{{entrainement.DateEntrainement}}</th>
                    <th><a href="entrainement/{{ entrainement.Titre }}">Modifier</a></th>
                    <th><a href="entrainement/delete/{{ entrainement.Titre }}">Supprimer</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
</html>